$border-color: #dddddd;
.billingInformationWrapper {
  width: 100%;
  height: auto;
  text-align: left;
  .optionalWrapper {
    display: block;
  }
  .billingForm {
    border: 1px solid $border-color;
    padding: 48px;
    width: 100%;
  }
  .singleForm {
    margin: 16px 0;
  }
  .title {
    font-size: 16px;

    color: black;
    font-family: "Roboto", "sans-serif";
    margin: 0 0 16px 0;
  }
  .topMargin {
    margin-top: 40px;
  }
  .paymentMethodWrapper {
    border: 1px solid $border-color;
    padding: 48px;
    width: 100%;
  }
  .removeBorder {
    border: none;
    padding: 0;
  }
  .optionTitle {
    display: flex;
    cursor: pointer;
  }
  .subtitle {
    padding-right: 5px;
    font-size: 13px;
    color: black;
    opacity: 0.7;
    font-family: "Roboto", "sans-serif";
  }
  .buttonWrapper {
    margin-top: 32px;
    display: flex;
    justify-content: center;
  }
}
