$border-color: #dddddd;
.billingForm {
  width: 100%;
}
.singleForm {
  margin: 1rem 0;
}
.buttonWrapper {
  margin: 1rem 0;
}
.cardSubtitles {
  color: black;
  text-align: center;
  font-size: 0.7rem;
}
.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}
.cardDetails {
  margin-top: 3rem;
}
.personalInfo {
  margin-bottom: 2rem;
}
