$border-color: #dddddd;
.billingForm {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.content {
  padding: 0;
}
.singleForm {
  margin: 16px 0;
}
.singleForm > div {
  margin: 0 !important;
}
.cardSubtitles {
  color: black;
  text-align: center;
  font-size: 11px;
}
.buttonWrapper {
  display: flex;
  justify-content: center;
  margin: 40px 0 32px 0;
}
.cardDetails {
  margin-top: 32px;
}
.personalInfo {
  padding-bottom: 16px;
  border-bottom: 1px solid $border-color;
}
