$border-color: #dddddd;
.billingForm {
  width: 100%;
}
.singleForm {
  margin: 16px 0;
}
.buttonWrapper {
  margin: 16px 0;
}
.cardSubtitles {
  color: black;
  text-align: center;
  font-size: 11px;
}
.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.cardDetails {
  margin-top: 48px;
}
.personalInfo {
  margin-bottom: 32px;
}
