.wrapper {
  background-color: #708cf1;
  width: 100vw;
  min-height: 100vh;
  .contentWrapper {
    padding: 0 15%;
    padding-top: 128px;
  }
  .title {
    margin-bottom: 64px;
    color: white;
    font-size: 32px;
    letter-spacing: 4px;
    font-weight: 300;
    font-family: "Quicksand", "sans-serif";
  }
  .signInForm {
    min-width: 320px;
    max-width: 400px;
    margin: 0 auto;
  }
  .singleInputWrapper {
    width: 100%;
    margin: 16px 0;
  }

  .socialMediaWrapper {
    display: flex;
    justify-content: center;
  }
  .singleSocialMediaWrapper {
    margin: 0 16px;
  }
  .buttonWrapper {
    margin-top: 16px;
  }
  .forgotPassword {
    color: white;
    font-family: "Quicksand", "sans-serif";
    margin: 24px auto;
    font-weight: 300;
    cursor: pointer;
    display: inline-block;

    &:hover {
      text-decoration: underline;
    }
  }
  .signUpLink {
    color: white;
    font-family: "Quicksand", "sans-serif";
    margin: 40px auto;
    font-weight: 300;
    display: inline-block;

    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .logInError {
    color: black;
    font-family: "Quicksand", "sans-serif";
    margin: 24px auto;
    font-weight: bold;
    display: inline-block;
  }
}
