$text-color: #444444;

.invoiceWrapper {
  display: flex;
  position: relative;
  flex-flow: column;
  width: 100%;
  padding: 2rem 4rem;
  .cancelButton {
    border: none;
    background: transparent;
    color: $text-color;
    cursor: pointer;
    position: absolute;
    font-family: "Roboto", "sans-serif";
    top: 1rem;
    right: 4rem;
  }
  .cancelButton:hover {
    text-decoration: underline;
  }
  .header {
    display: flex;
    justify-content: center;
  }
  .headerTitle {
    color: $text-color;
    font-size: 1.2rem;
    font-family: "Roboto", "sans-serif";
    font-weight: bold;
  }
  .pdfLink {
    cursor: pointer;
  }
  .contentWrapper {
    width: 100%;
    margin-top: 1rem;
  }
  .titleText {
    font-size: 1rem;
    color: black;
    text-align: left;
    margin-bottom: 1rem;
  }
}
