@import "../../globalStyles/base.scss";
$border-color: #dddddd;
$menu-width: 140px;
$content-side-padding: 50px;
.wrapper {
  flex: 1;
  width: 100%;
  height: 100%;
  position: relative;

  display: flex;

  flex-flow: column;
  align-items: center;

  // padding: 24px 40px;

  .header {
    width: 100%;
    display: flex;
    flex: 0 0 32px;

    border-bottom: 1px solid $border-color;
  }
  .content {
    width: 100%;
    position: relative;

    display: flex;
    overflow: hidden;
    flex: 1;
    align-items: center;

    .menu {
      flex: 0 0 $menu-width;
      width: $menu-width;
      min-height: $large-modal-height;

      border-right: 1px solid #dddddd;
    }
    .menuList {
      position: absolute;
      top: 80px;
      left: 25px;
    }
  }
  .pageWrapper {
    flex: 1;
    height: 100%;
    overflow: auto;
    padding: calc(#{$content-side-padding} * 0.9) $content-side-padding;
    display: flex;
    justify-content: center;
    // align-items: center;
  }
}
// @media (max-width: 900px) {
//   .wrapper {
//     .content {
//       .menuList {
//         position: relative;
//         width: $menu-width;
//       }
//     }
//   }
// }
