$app-body-width: 900px;
$app-body-height: 700px;
$large-modal-width: 880px;
$large-modal-height: 650px;
$small-modal-width: 730px;
$small-modal-height: 350px;
$tiny-modal-width: 500px;
$tiny-modal-height: 200px;
