.uploadDetailsWrapper {
  width: 100%;
  .breadCrumb {
    margin-left: 64px;
  }
  .buttonWrapper {
    display: flex;
    align-items: center;
    .newFolderWrapper {
      margin-left: 32px;
    }
    .upArrow {
      margin-left: 8px;
    }
  }
  .contentWrapper {
    margin: 0 10%;
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;
    .singleUploadTile {
      margin: 16px 16px;
      width: 160px;
    }
  }
}
