.fileTalkWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 16px;
  .userName {
    margin: 0 8px;
  }
  .userStatus {
    margin: 0 8px;
  }
  .userInfo {
    display: flex;
  }
  .userOptions {
    display: flex;
    align-items: center;
  }
  .profileImage {
    margin: 0 16px;
    width: 32px;
    height: 32px;
  }
  .iconStyle {
    margin: 0 7px;
  }
  .singleButton {
    margin: 0 7px;
  }
}
