$border-color: #dddddd;
$personal-details-color: black;
$progress-bar-color: #555555;
.accountSummaryWrapper {
  width: 100%;
  margin: auto;
  .accountInfo {
    border: 1px solid $border-color;
    border-radius: 10px;
    text-align: left;
  }
  .titleText {
    font-size: 14px;
    color: $personal-details-color;
    text-align: left;
    margin-bottom: 16px;
  }
  .personalInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    .image {
      height: 160px;
      width: auto;
    }
    .personalDetailsWrapper {
      text-align: center;
      font-family: "Roboto", "sans-serif";
      margin-left: 48px;
    }
    .name {
      color: $personal-details-color;
      font-size: 17px;
      font-weight: normal;
      margin-bottom: 8px;
      font-weight: 500;
      font-family: inherit;
    }
    .place {
      font-family: 13px;
      color: $personal-details-color;
      font-weight: normal;
      font-family: inherit;
      margin-bottom: 3px;
      opacity: 0.7;
    }
    .date {
      font-family: 13px;
      color: $personal-details-color;
      font-weight: normal;
      font-family: inherit;
      opacity: 0.7;
    }
  }
  .buttonGroup {
    display: flex;
    flex-flow: column;
    width: 100%;
    color: $personal-details-color;
    .personalInfoButton {
      margin: 0;
      border-top: 1px solid $border-color;
      padding: 13px;
      text-align: center;
      width: 100%;
      color: inherit;
      cursor: pointer;
      opacity: 0.5;
    }
    .personalInfoButton:hover {
      opacity: 1;
    }
    .personalinfobutton:last-child {
      border-bottom: 1px solid $border-color;
    }
  }
}
