$border-color: #dddddd;
.wrapper {
  width: 100%;
  height: 100%;
  .formData {
    padding: 0 16px;
  }
  .name {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 32px 16px;
  }
  .password {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 32px 16px;
  }
  .singleFieldWrapper {
    width: 320px;
  }
  .buttonWrapper {
    margin: 32px 0;
    display: flex;
    justify-content: center;
  }
  .bottomBorder {
    border-bottom: 1px solid $border-color;
  }
}
