$text-color: #888888;
.fileTalkWrapper {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  border-bottom: 1px solid #dddddd;
  padding: 8px 0;
  align-items: center;
  .leftWrapper {
    display: flex;
  }
  .fileStatus {
    margin: 0 16px;
    color: $text-color;
  }
  .fileInfoWrapper {
    display: flex;
  }
  .userOptions {
    display: flex;
    align-items: center;
  }
  .profileImage {
    margin: 0 16px;
    width: 32px;
    height: 32px;
  }
  .iconStyle {
    margin: 0 7px;
    cursor: pointer;
  }
  .singleButton {
    margin: 0 7px;
  }
  .pageTitle {
    color: $text-color;
  }
}
