$text-color: #565656;
$border-color: #dddddd;
.orderWrapper {
  display: flex;
  flex-flow: column;
}
.orderContent {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.content {
  padding: 0;
}

.imageTile {
  display: flex;
  justify-content: center;
}
.discountStyle {
  font-weight: bold;
  color: $text-color;
  margin-left: 16px;
}
.smallText {
  font-size: 11px;
  font-weight: normal;
}
.title {
  font-size: 14px;
  color: black;
  font-weight: bold;
  font-family: "Roboto", "sans-serif";
  text-align: left;
}
.orderDetailsList {
  list-style: none;
}
.singleItem {
  display: flex;
  margin-bottom: 13px;
  width: 335px;
}
.label {
  width: 160px;
  color: $text-color;
  text-align: left;
  font-size: 11px;
  font-family: "Roboto", "sans-serif";
}
.value {
  color: $text-color;
  font-size: 11px;
  font-family: "Roboto", "sans-serif";
}
.bolderText {
  font-weight: bold;
}

.bottomMargin {
  margin-bottom: 16px;
}
.cardSubtitles {
  margin: 16px 0;
  color: $text-color;
  font-size: 11px;
}

.supportedPaymentMethods {
  width: 100%;
  justify-content: center;
  margin-top: 64px;
}
.subscriptionDetails {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 32px;
}
.buttonWrapper {
  margin: 32px 0 32px 0;

  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 20px;
}
.buttonWrapperChangePlan {
  margin-top: 20px;
  padding-top: 20px;
}
.alignStart {
  justify-content: flex-start;
}
.borderTop {
  border-top: 1px solid $border-color;
}
.cancelSubscription {
  display: flex;
  justify-content: flex-end;

  padding: 0 20px 0px 0;
}
.singleButtonWrapper {
  margin: 0 2px;
}
.cancelSubscriptionText {
  font-family: "Roboto", "sans-serif";
  font-size: 11px;
  color: black;
  opacity: 0.7;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
