$border-color: #dddddd;
$personl-details-color: black;
$progress-bar-color: #555555;
.storageWrapper {
  width: 100%;
  margin-top: 32px;
}
.storageDetailsWrapper {
  border: 1px solid $border-color;
  border-radius: 10px;
  padding: 40px 24px;
}
.singleProgressbar {
  margin-bottom: 16px;
}
.buttonWrapper {
  margin-top: 64px;
  display: flex;
  justify-content: center;
}
.titleText {
  font-size: 16px;
  color: $personl-details-color;
  text-align: left;
  margin-bottom: 16px;
}
.exceededText {
  font-size: 16px;
  color: #ff3a3a;
  margin-top: 24px;
  text-align: center;
}
