$border-color: #dddddd;
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.inputLabel {
  width: 160px;
  color: black;
  margin-bottom: 5px;
  vertical-align: baseline;
  font-size: 0.92857143em;
  font-weight: bold;
  display: inline-block;
}

.creditCard {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(34, 36, 38, 0.15);
}
.cardAuthDetails {
  display: flex;
  align-self: flex-end;
}
.errorWrapper {
  color: #ff604f;
  display: block;
}
